section.content {
  background: #bef2ff;
  .preview {
    background: linear-gradient(
      180deg,
      rgba(134, 206, 254, 1) 0%,
      rgba(212, 242, 252, 1) 99%,
      rgba(222, 241, 248, 1) 100%
    );
  }
}
.a4 {
  height: 148.5mm;
  width: 210mm;
  display: none;
}
.results {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .infos {
    height: 100%;
  }
}
.marca{
  background-size: contain !important;
}
